USE [emre]
GO
/****** Object:  Table [dbo].[p_i]    Script Date: 04/04/2018 22:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[p_i](
	[play_id] [char](32) NULL,
	[song_id] [int] NULL,
	[client_id] [int] NULL,
	[play_ts] [char](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
